/**************************************************************************************************\
*
* vim: ts=3 sw=3 et wrap go-=b
*
* Filename: "general_styles.css"
*
* Project: Common.
*
* Purpose: Stylesheet for styles that are used for many applications.
*
* Author: Tom McDonnell 2010-06-15.
*
\**************************************************************************************************/

*.clear-floats {clear: both;}

*.align-l {text-align: left  ;}
*.align-c {text-align: center;}
*.align-r {text-align: right ;}

*.valign-t {vertical-align: top   ;}
*.valign-m {vertical-align: middle;}
*.valign-b {vertical-align: bottom;}

/*******************************************END*OF*FILE********************************************/
